#navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 5px #90909090;
    // border-bottom: 1.5px solid #90909090;
    margin-bottom: 1.3rem;

    .nav-content {
        width: 100%;
        text-align: center;
        
        h4 {
            font-size: 18.5px;
            margin-left: 0.75rem;
            margin-right: 0.75rem;

            @media (max-width: $mobile-break){
                margin-left: 0rem;
                margin-right: 0rem;
            }
        }
    }
}
